.DS_Store

**/.idea/workspace.xml
**/.idea/tasks.xml

# android makefiles
GypAndroid.mk
support/*.target.mk
*.target.mk
GypAndroid.mk

# gyp
deps/gyp

# android build artifacts
libs/
obj/

# ios build artifacts
build/
build_ios/

# xcode stuff
project.xcworkspace
*.xccheckout
DerivedData
*.xcuserdatad/

# djinni output directories
djinni-output-temp/

# intellij-plugin build artifact
intellij-plugin/djinni.jar

# profiling output
callgrind.out.*
